body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, .green {
    color: #007765;
}

h1 {
    font-size: 4em;
    font-weight: 100;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    display: block;
    margin: 50px auto;
}

h5, p {
    color: #565656;
}

div img {
    max-width: 100%;
}

.container {
    padding-bottom: 50px;
}

header {
    background-image: url(img/header.png);
    padding: 10px 0 100px 0;
}

header .logo i {
    color: white;
    font-size: 6em;
}

header .logo:hover i {
    opacity: 0.6;
    transition: 1s;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    text-transform: uppercase;
    padding: 8px 13px;
}

/*
nav ul li:first-child a {
    color:#007765;
    background-color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 2s, background-color 2s, font-weight 2s;
}*/

nav ul li a:hover {
    color:#007765;
    background-color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 2s, background-color 2s, font-weight 2s;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.white, .white h1, .white p {
    color: white;
}

header .center {
    margin: 100px 0 50px 0;
}

header .center h1 {
    margin-bottom: -10px;
}

.grey {
    background-color: #eee;
}

.grey i {
    margin: 34px auto 30px;
    width: 140px;
    height: 140px;
    line-height: 140px;
    border-radius: 50%;
    font-size: 4em;
    background-color: #565656;
    color: white;
}

.big-hover div i.fas:hover {
    font-size: 5em;
    transition: font-size 1.5s;
}

.opacity-hover div img:hover {
    opacity: 0.6;
}

footer {
    background-image: url(img/header.png);
    padding: 100px 0 10px 0;
    margin-top: -7px;
}

footer p {
    margin-top: 20px;
    color: white;
}

footer i {
    font-size: 4em;
    color: white;
}

footer a i.fab {
    color: #3d3d3d;
    background-color: white;
    font-size: 2em;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}

footer a:hover i.fab {
    color: white;
    background-color: #3d3d3d;
    transition: color 1s, background-color 1s;
}

footer .container {
    padding-bottom: 0;
}

@media (max-width: 992px) {
    nav ul li {
        float: none;
        text-align: right;
        border-bottom: 1px solid white;
    }

    nav ul li a {
        width: 100%;
        display: inline-block;
    }
}